/*
---------------------------------------------------------------------------
[移动端]  课程链接: https://www.3mooc.com/front/couinfo/830
[swiper] 课程链接: https://www.3mooc.com/front/couinfo/834
---------------------------------------------------------------------------
*/
*{margin:0;padding:0;}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
html,body{
	background: #f0efed;
}

header{
	height:1.36rem;
	background:#06c1ae;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-left{
	font-size:.4266666rem;
	color:#fff;
	height: 100%;
	width: 1.8rem;
	background: rgba(0,0,0,.1);
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-left i{
	font-size:.52rem;
}

.header-search{
	width: 6.893333rem;
	height:.8533333rem;
	background: rgba(0,0,0,.15);
	border-radius: .1rem;
	color:#fff;
	font-size:.32rem;
	display: flex;
	align-items: center;
}
.header-search i{
	padding:0 .3rem;
	font-size:.48rem;
}
.header-search span{
	color:#68dbce;
}
.header-right{
	height: 100%;
	width: 1.2533333rem;
	color:#fff;
	font-size:.32rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-right i{
	display: block;
	font-size:.6rem;
}

.banner{
	width:100%;
	height: 2.96rem;
	border-bottom:1px solid #c6c0b3;
}

.banner img{
	width:100%;
	height: 100%;
}

.swiper{
	height: 4.8rem;
	width: 100%;
	background: #fff;
}

.swiper-slide{
	display: flex;
	flex-wrap: wrap;
}
.swiper-item{
	width:2rem;
	height: 2.16rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.swiper-item a{
	color:#666;
	font-size:.373333333rem;
}

.swiper-item img{
	display: block;
	width:1.0666666rem;
	height:1.0666666rem;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
	bottom:-.2rem;
}
.swiper-pagination-bullet-active{
	background: #06c1ae;
}

.list{
	color:#666;
	font-size:.32rem;
	background: #fff;
	margin-top:.2rem;
	border-top: 1px solid #DDD8CE;
    border-bottom: 1px solid #DDD8CE;
}

.list-content{
	padding-left:.4rem;
}
.like{
	font-size:.42666666rem;
	color:#000;
	padding:.4rem 0;
	border-bottom: 1px solid #DDD8CE;
}

.list li{
	border-bottom: 1px solid #DDD8CE;
	padding:.4rem 0;
	display: flex;
}

.list li img{
	width: 2.4rem;
	height: 2.18666666rem;
}

.list li>div{
	width: 100%;
	padding-left:.2rem;
	padding-right:.2rem;
}

.list li>div>h3{
	color:#333;
	font-size:.48rem;
	font-weight: bold;
}

.list .list-pre{
	padding-top:.5rem;
	display: flex;
	justify-content: space-between;
}

.list .list-pre b{
	color:#06c1ae;
	font-size:.48rem;
}
.list-more{
	padding:.4rem 0;
	display: flex;
	justify-content: space-between;
	font-size:.48rem;
	color:#06c1ae;
}
.list-more i{
	padding-right:.4rem;
	font-size:.5rem;
	font-weight: bold;
}
.footer-bar{
	font-size:.48rem;
	padding:.4rem .2rem;
	display: flex;
	justify-content: space-between;
}

.footer-bar a{
	color:#06c1ae;
	border:1px solid #06c1ae;
	font-size:.38rem;
	padding:.1rem .3rem;
	border-radius: .1rem;
}
.bar-right a{
	padding:.1rem 1rem;
}

.footer-nav{
	padding:.3rem .2rem;
}
.footer-nav ul{
	display: flex;
	font-size:.32rem;
	color:#06c1ae;
}
.footer-nav ul li{
	flex:1;
	text-align: center;
}

.footer-nav ul li+li{
	border-left:.02rem solid #666;
}

.footer-links{
	margin: .3rem 1rem;
	font-size:.32rem;
	text-align: center;
}
.footer-links a{
	color:#06c1ae;
	padding-left: .4rem;
}

.footer-copyright{
	position: relative;
	text-align: center;
}
.footer-copyright .hr{
	width:100%;
	top:50%;
	border-top: 1px solid #999;
	position: absolute;
}
.footer-copyright .text{
	position: relative;
	color:#333;
	font-size:.38rem;
	background-color: #f0efed;
	padding:0 .2rem;
}






